<!DOCTYPE html>
<html>
<head>
	<title></title>
<!--	<script language="Javascript" >
function download(filename, text) {
  var pom = document.createElement('a');
  pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + 

encodeURIComponent(text));
  pom.setAttribute('download', filename);

  pom.style.display = 'none';
  document.body.appendChild(pom);

  pom.click();

  document.body.removeChild(pom);
}
</script>-->
</head>
<body bgcolor="#154360">
<form action="/saveAndEvaluate/{{ pid }}" method="post" id="editor">
	<textarea placeholder="Enter your code here!" required rows="70" cols="70" style="background-color: #1F618D; color:#FF8C00 " form="editor" name="code" ></textarea>
	<div><input type="submit" value="submit"></div>
</form>
<!--
<form action="">
  <input type="text" name="name" value="test.txt">
  
  <div style="text-align: center;">
  	<textarea  placeholder="Enter your code here!" rows="100" cols="150" style="background-color: #1F618D; color:#FF8C00 " name="text"> </textarea><br>
  	<input type="submit" name="submit">
  	<input onclick="download(this['name'].value, this['text'].value)" type="button" value="Download">
  </div>
</form>
-->
</body>
</html>