{% extends "dashboard.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/editor.css') }}">
{% endblock %}
{% block body %}
<div id="editor">
<pre>
{% if code == "": %}    
int main()
{
    printf("Hello World!");
    return 0;
}
{% else: %}
{{code}}
{% endif %}
</pre>
</div>

<form method="post" action="/saveAndEvaluate/{{ pid }}" id="myForm">
    <input type="submit" value="Submit" id="submit">
</form>

<textarea style="display: none;" name="code" id="editortext" form="myForm"></textarea>


<script src="{{ url_for('static',filename='src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/c_cpp");
    editor.session.setNewLineMode("unix");
    document.getElementById("myForm").onsubmit = function(evt) {
      document.getElementById("editortext").value = editor.getValue();
  }
</script>
{% endblock %}