{% extends "dashboard.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/problems.css') }}">
{% endblock %}
{% block body %}

{% if request.path == "/problems/placement" %}
<form style="text-align: center;" id="searchForm">
  <select style="margin: 10px; padding: 5px;" name="tag" form="searchForm">
  <option value="None" selected="selected">None</option> 
  {% for tag in tags: %}
  {% if request.args.get('tag') == tag %}
  <option value="{{ tag }}" selected="selected">{{ tag }}</option>
  {% else %}
  <option value="{{ tag }}">{{ tag }}</option>
  {% endif %}
  {% endfor %}
  </select>
  <input type="submit" value="Search">
</form>
{% endif %}

	<table>
  	<tr>
    	<th>Problem Name</th>
    	<th>Status</th>
    	<th>No.Of Submissions</th>
    	<th>Successful Submissions</th>
    	<th>Accuracy</th>
  	</tr>
  	{% for x in problem %}
  	<tr>
  	 	<td><span style="cursor:pointer"><a class="problem" href="/singleProblem/{{x[0]}}">{{x[0]}}</a></span></td>
    	{% if x[3]>0: %}
    	<td><p>&#9989</p></td>
    	{% else: %}
    	<td><p>&#10060</p></td>
    	{% endif %}
    	<td>{{ x[2] }}</td>
    	<td>{{ x[3] }}</td>
    	{% if x[2]!=0: %}
    	<td>{{ "%.2f" % ((x[3]*100)/x[2]) }}</td>
    	{% else: %}
    	<td>0.00</td>
    	{% endif %}
	</tr>
    {% endfor %}
	</table>
{% endblock %}