{% extends "dashboard.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/singleProblem.css') }}">
{% endblock %}

{% block body %}
<h1>{{ problemInfo[2] }}</h1>
<h3>Input:</h3>
<pre>
	{{problemInfo[2]}}
</pre> 
<a class="singleProblem" href="/editor/{{problemInfo[0]}}">Solve</a>
<a class="singleProblem" href="/singleProblem/{{problemInfo[4]}}/mySubmissions">My Submissions</a>
{% if status=="True": %}
<a class="singleProblem" href="/singleProblem/{{problemInfo[4]}}/allSubmissions">All Submissions</a>
{% endif %}	
{% endblock %}
	}
