a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/*ul {
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}*/